@model HobbyCollection.Website.ViewModels.GameViewModel

<form asp-controller="Game" asp-action="Save" method="POST" id="formGame" class="row g-3">
	<input type="hidden" asp-for="Game.Id" />

	<div class="col-md-6">
		<label asp-for="Game.Name" class="form-label">Name: </label>
		<input type="text" asp-for="Game.Name" class="form-control"/>
	</div>

	<div class="col-md-2">
		<label asp-for="Game.ReleaseDate" class="form-label">Release Date: </label>
		<input type="date" asp-for="Game.ReleaseDate" class="form-control" />
	</div>

	<div class="col-md-12">
		<button type="button" id="btnSaveGame" class="btn btn-primary">Save</button>
		<button type="reset" class="btn btn-warning">Reset</button>
	</div>

</form>

@section Scripts {
	<script type="text/javascript">
		$(()=>{
			
			$("#btnSaveGame").on("click", ()=>{
				const formGame = $("#formGame").serialize();
				console.log(formGame);

				$.ajax({
					url: "/Game/Save",
					type: "POST",
					data: formGame,
					success: (data) => {
						console.log("HappyEnd");
					},
					error: () => {
						console.log("BadEnd");
					}
				});

			});
		});
	</script>
}