@model HobbyCollection.Website.ViewModels.DeveloperViewModel

@if (Model.DeveloperList != null && Model.DeveloperList.Count > 0)
{
	<table id="tableDeveloper" class="table table-light">

		<thead>
			<tr>
				<th>Name</th>
				<th> - </th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.DeveloperList)
			{
				<tr itemid="@item.Id">
					<td>@item.Name</td>
					<td>
						<button type="button" class="btn btn-primary" id="btnEdit"><i class=""></i> Edit</button>
						<button type="button" class="btn btn-danger" id="btnRemove"><i class=""></i> Remove</button>
					</td>
				</tr>
			}
		</tbody>

	</table>
}
else
{
	<p>There aren't any developers.</p>
}


@section Scripts {
	<script type="text/javascript" src="~/js/views/DeveloperList.js"></script>
}