@model HobbyCollection.Website.ViewModels.DeveloperViewModel

@if (Model.DeveloperList != null && Model.DeveloperList.Count > 0)
{
	<table id="tableDeveloper" class="table table-light">

		<thead>
			<tr>
				<th>Name</th>
				<th> - </th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model.DeveloperList)
			{
				<tr>
					<td>@item.Name</td>
					<td>
						<button type="button"><i>I</i> Edit</button>
						<button type="button"><i>I</i> Remove</button>
					</td>
				</tr>
			}
		</tbody>

	</table>
}
else
{
	<p>There aren't any developer.</p>
}


@section Scripts {
	<script type="text/javascript">
		$(() => {
			$("#tableDeveloper");
		});
	</script>
}