@model HobbyCollection.Website.ViewModels.PlataformViewModel

<form asp-action="Save" asp-controller="User" method="post" id="formPlataform" class="row g-3">

	<input asp-for="Plataform.Id" type="hidden" />

	<div class="col-md-6">
		<label asp-for="Plataform.Name" class="form-label">Name: </label>
		<input asp-for="Plataform.Name" class="form-control" value="" />
	</div>

	<div class="col-md-12">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="reset" class="btn btn-warning">Reset</button>
	</div>

</form>

@section Scripts {
	<script type="text/javascript">
		$(() => {

			$("#formPlataform").on("submit", (e) => {
				e.preventDefault();

				const form = $("#formPlataform").serialize();
				$.ajax({
					url: "/Plataform/Save",
					type: "POST",
					data: form,
					success: (data) => {
						console.log(data);
					},
					error: (error) => {
						console.error(error);
					},
					complete: () => {

					}
				})
			});

		})
	</script>
}