@model HobbyCollection.Website.ViewModels.UserViewModel

<form asp-action="Save" asp-controller="User" method="post" id="formUser" class="row g-3">
	<input asp-for="User.Id" type="hidden" />

	<div class="col-md-6">
		<label asp-for="User.Name" class="form-label">Name: </label>
		<input asp-for="User.Name" class="form-control" value=""/>
	</div>

	<div class="col-md-6">
		<label asp-for="User.Nickname" class="form-label">Nickname: </label>
		<input asp-for="User.Nickname" class="form-control"  value=""/>
	</div>

	<div class="col-md-12">
		<button type="submit" class="btn btn-primary">Save</button>
		<button type="reset" class="btn btn-warning">Reset</button>
	</div>
</form>

@section Scripts {
	<script type="text/javascript">
		$(() => {

			$("#formUser").on("submit", (e) => {
				e.preventDefault();

				const form = $("#formUser").serialize();
				$.ajax({
					url: "/User/Save",
					type: "POST",
					data: form,
					success: (data) => {
						console.log(data);
					},
					error: (error) => {
						console.error(error);
					},
					complete: () => {

					}
				})
			});

		})
	</script>
}